@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>
@if (ViewBag.ErrorMsg != null && !String.IsNullOrEmpty(ViewBag.ErrorMsg))
{
    <div class="alert alert-warning">
        <strong>@ViewBag.ErrorMsg</strong>
    </div>
}

@using (Html.BeginForm("Login", "Chat", FormMethod.Post,new { id= "LoginForm" }))
{
    <input type="Text" placeholder="Name" name="name" id="txtName">
    <div/>
    <input type="submit" value="Login"/>
}

@*<script>
    function loginClient() {
        var val = $("#txtName").val();
        login(val);
        
    }
</script>*@