@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>
@using (Html.BeginForm("Login", "Chat", FormMethod.Post))
{
    <input type="Text" placeholder="Name" name="name">
    <div/>
    <input type="submit" value="Login"/>
}