@model bool
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@if (Model)
{
    <span>Successful login! continue to </span>
    @Html.ActionLink("Chat", "Index")
}
else
{
    <span> Pick some other username: </span>
    @Html.ActionLink("Back", "Login", "Login")
}